.homepage {
    min-height: 100vh;
    text-align: center;
    background: #007d8c;
}

.top-section,
.bottom-section {
    margin-top: calc(1.5vh + 1.5vw + 23px);
    min-height: 90vh;
    background: url("./homepage_bg.png") center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-title {
    font-size: 5rem;
    margin-bottom: 3rem;
}

.sub-title {
    font-size: 2rem;
    max-width: 70ch;
}

.about-section {
    min-height: 50vh;
    background: #007d8c;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.about-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
    width: 80%;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 10px;
    border-bottom: 10px dotted #97d6e3;
}

.item-title {
    font-size: 6rem;
    margin: 2rem 0;
}

.item-desc {
    font-size: 2rem;
    margin: 2rem 0;
}

.btn {
    font-size: 2rem;
    background: lightgrey;
    font-size: 2rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid #000;
}
