:root {
  --nav-height: calc(1.5vh + 1.5vw + 23px);
}

* {
  padding: 0;
  margin: 0;
  font-family:  'Nunito', 'Varela Round', sans-serif;

}

.page {
  padding-top: var(--nav-height);
}

.nav-bar-all {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  z-index: 100;
}

.nav-bar-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 6px;
}
.nav-bar-li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.nav-bar-text {
  margin: 4px;
  font-size: calc(1vh + 1vw + 5px);
}
