.page {
    margin-top: calc(1.5vh + 1.5vw + 23px);
}

.song-item {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid #000;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    background: rgba(0, 125, 140, 0.4);
    cursor: pointer;
}
