.all-lyrics-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.lyrics-container,
.translated-lyrics-container {
    width: 40%;
    padding: 1rem;
    border: 1px solid #000;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-btn {
    font-size: 1.5rem;
}

.rtl-text {
    direction: rtl;
}
